@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-pink: #fb63a3;
  --color-blue: #2f80ed;
  --color-white: #ffffff;
  --color-gray: #f0f5f8;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'GowunDodum-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-pink);
  border-radius: 20px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;